.panel.panel-success
  .panel-heading
    %h3.panel-title ÚLTIMAS RUTAS AÑADIDAS
  .panel-body
    .row
    - @ultimas_rutas.each do |ruta_ult|
      .col-xs-3
        %a.thumbnail{:href => "ruta/#{ruta_ult.id_rut}"}
          %img.img-responsive{:src => "./img/sendero1.jpg"}
          %p= ruta_ult.nombre
          %p Añadida el #{ruta_ult.created_at.strftime("%d/%m/%Y")}
          
.panel.panel-success
  .panel-heading
    %h3.panel-title RUTAS MÁS POPULARES
  .panel-body
    .row
    - @populares_rutas.each do |ruta_pop|
      .col-xs-3
        %a.thumbnail{:href => "ruta/#{ruta_pop.id_rut}"}
          %img.img-responsive{:src => "./img/sendero1.jpg"}
          %p= ruta_pop.nombre
          %p Putuación: #{ruta_pop.puntuacion}
  