/ CUERPO DE LA PAGINA
#titulo
  %h1= @ruta.nombre
#contenido
  / Imagen
  #izquierda
    %img#imagen-portada.img-thumbnail{:alt => "", :border => "1", :src => "#{@ruta.imagen}"}
      %br
        - if(@ruta.dificultad == 1)
          - @dif = "verde.png"
        - elsif (@ruta.dificultad == 2)
          - @dif = "naranja.png"
        - else
          - @dif = "rojo.png"
        %p
          Dificultad:
          %img#semaforo{:src => "../img/#{@dif}"}
            Puntuación: #{@ruta.puntuacion}

            %form{:action => "/estadisticas/#{@ruta.id}", :class => "form-estadistica", :method => "POST", :name => "form-estadistica", :role => "form"}
              %br  
                %button.btn.btn-danger{:type => "submit"} Estadistica
                  



            - if (@seguidor != nil)
              %form{:action => "/eliminarruta", :class => "form-eliminar_ruta", :method => "POST", :name => "form-eliminar_ruta", :role => "form"}
                %input{:name => "user_ruta", :style => "visibility:hidden;", :value => @ruta.username}
                %input{:name => "ruta", :style => "visibility:hidden;", :value => @ruta.id}
                %br
                  %button.btn.btn-danger{:type => "submit"} Ya te gusta esta ruta
            - else
              %form{:action => "/seguirruta", :class => "form-seguir_ruta", :method => "POST", :name => "form-seguir_ruta", :role => "form"}
                %input{:name => "user_ruta", :style => "visibility:hidden;", :value => @ruta.username}
                %input{:name => "ruta", :style => "visibility:hidden;", :value => @ruta.id}
                %br  
                  %button.btn.btn-danger{:type => "submit"} Me gusta
  #derecha
    #panel{:role => "tabpanel"}
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} Descripción
        %li{:role => "presentation", :id => "btn-post"}
          %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} 
            Posts
        %li{:role => "presentation"}
          %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} Mapas
      / Tab panes
      .tab-content
        #home.tab-pane.fade.in.active.menu{:role => "tabpanel"}= @ruta.informacion
        #profile.tab-pane.fade.menu{:role => "tabpanel"}
          #posts
            - if (@comentario)
              - @comentario.each do |comenta|
                %p.list-group-item-text
                  %b= "#{comenta.username},"
                  #{"el " + comenta.created_at.strftime("%x") + " a las " + comenta.created_at.strftime("%X")}
                %p.list-group-item-text= "> #{comenta.comentario}"
                %hr
              #final
          #comentario
            %form{"accept-charset" => "UTF-8", :action => "/ruta/#{@ruta.id}", :method => "POST"}
              %textarea.form-control{:rows => "1", :id => "comentario-post", :name => "mensaje", :placeholder => "Añada un comentario", :autofocus => ""}
              #boton
                %button.btn.btn-success{:type => "submit"} Postear
        #messages.tab-pane.fade.menu{:role => "tabpanel"} Mapa de Google
  .reset